@{
}

@model Mission08_0110.Models.Task

<h2>Confirm Deletion</h2>
<h3>@Model.TaskName</h3>
<form method="post">
    <input type="hidden" asp-for="@Model.TaskId"/>
    
    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-info" asp-controller="Home" asp-action="Quadrants">Cancel</a>
</form>